#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.box{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: red;
  height: 200px;
  width: 200px;
}