#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.main-cont{
  position: absolute;
  height: 80vh;
  width: 50vw;
  top: 10%;
  left: 30%;
  background-color: white;
  border-radius: 12px;
}

.header{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  color: black;
  background-color: white;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  img{
    height: 40px;
    width: 40px;
    margin-left:3em;
    margin-right: 1em;
  }

}

.input{
display: flex;
  width: 100%;
  height: 20%;
  margin-bottom: 1em;

  display: flex;
    justify-content: space-around;
  align-items: center;
  gap: 1em;

  span{
    h3{
      margin:0;
      color:black;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: flex-start;
  gap: 0.3em;
  }
  
}
.input>span>input{
  background-color: white;
  color: black;
   padding: 8px;
   border-radius: 12px;
}


button{
  font-size: 1em;
  padding: 4px;
 
  margin: auto;
    display: flex;
    justify-content: center;
  align-items: center;
    width: 80%;
  border-radius: 10px;
  }
img{
    width:20px;
    height:20px;
     margin-left: 1em;
  }
  .meme-cont{
 position: relative;
 top: 1%;
    margin: auto;
    height:60%;
    width:80%;
    margin-top: 0.6em;
  
    img{
      height: 90%;
      width: 100%;
      object-fit: contain;
  
    
    }

   .top{
      position:relative;
      top:74px;
      left: 154px;
      color:black;
      font-size: 3em;
    }
   .bottom{
      position:relative;
      top: 320px;
      left: -100px;
      color:black;
      font-size: 3em;

    }
  }