#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-cont{
  min-height:40vh ;
  min-width:50vw;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.header{
  padding: 8px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  color: black;
  height: 20%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 40px;
  
  img{
  height :40px;
  width:40px;
}

}
.content{
  width: 100%;
  height: 80%;
}
.content>.input-section>input{
  padding: 6px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-right: 10px;
  width: 350px;
  color: black;
  background-color: white;
}

.content>.input-section>input:focus{
  outline: none;
}

.content>.input-section>button{
  background-color: #111;
  color: white;
  font-size: 0.8em;
  padding: 8px 0px;
}
button{
  border:none;
  width: 164px;
 padding: 4px ;
 border-radius: 5px;
}


.ingredients{
  margin-top: 2em;
  margin-left:2em;
  margin-bottom:2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100%-2em);
  height:100%;

}
ul{
  li{
    font-weight: 500;
  }
}

.submit{
 
  width: 90%;
  margin:auto;
  height: 80px;
  background-color: #eeece8;

margin-bottom: 2em;
display: flex;
flex-direction: column;
align-items: flex-start;
 padding: 12px 20px;
 span{
  margin-top:0.3em;
  display: flex;
  justify-content: space-around;

 h4{
 color: #b4b2b0;
 
 }
  button{
    margin-left:14em;
    background-color: #cb6b51;
    padding:4px 2px;
    width:120px;
  }
 }

}